#formulaire {
  background-color: #F4E9D7;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 10px 500px rgba(0,0,0,0.2);
  background-color: rgba(26, 73, 57,0.6);
  border-radius: 6px;
}

}

#formulaire h4 {
  text-align: center;
  margin-bottom: 20px;
}

#formulaire form {
  display: flex;
  flex-direction: column;
}

#formulaire label {
  color:#F4E9D7;
}

#formulaire input[type="text"],
#formulaire input[type="email"],
#formulaire textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#formulaire input[type="submit"] {
  background-color: #1A4939;
  font-family: 'Made Tommy', sans-serif;
  color: #F4E9D7;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

#formulaire input[type="submit"]:hover {
  color: #feaac7; 
}



